<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Academia Nunca Más</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/register-student">Registro de estudiante</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/delete-student">Borrar estudiante</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-subjects">Listar materias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/assign-subjects">Asignar materias</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>